@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#content{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns:  20rem 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas:
  'searchBar cityBar'
  'citiesContainer weatherContainer';
}

/* search bar */

#searchBar{
  grid-area: searchBar;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-areas: '. searchEntry autoLocateButton';
  background-color: green;
  align-items: center;
  padding: 1em;
}

#searchEntry{
grid-area: searchEntry;
height: 2rem;
border-radius: 1rem;
border:none;
padding: 1rem;
}

#autoLocateButton{
grid-area: autoLocateButton;
background: none;
border: none;
}
/* cities container */

#citiesContainer{
  grid-area: citiesContainer;
  background-color: red;
}

#searchResults{
  display: none;
  flex-direction: column;
  align-items: center;
}

#citiesList{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#citiesList div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: .25rem 1rem;
  padding: .25rem 1rem;
  background-color: blue;
}


/* city bar */

#cityBar{
  grid-area: cityBar;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-areas: 'openCitiesHalf cityNameTitle menuButton';
  background-color: blue;
  align-items: center;
  padding: 1em;
}

#openCitiesHalf{
  grid-area: openCitiesHalf;
  height: 2rem;
  background: none;
  border: none;
}

#cityNameTitle{
  grid-area: cityNameTitle;
}

#menuButton{
  grid-area: menuButton;
  height: 2rem;
  background: none;
  border: none;
}

#weatherContainer{
  grid-area: weatherContainer;
  background-color: yellow;
}

